@model SitecoreDiser.Feature.ContentReport.Models.ContentReportModel

@if (Model != null)
{
<div class="wf-container">
    <div class="wf-content c-wrapper">
        <div class="row">
            <input id="fromdate" type="text" data-provide="datepicker" class="form-control">
            <input id="todate" type="text" data-provide="datepicker" class="form-control">
        </div>
    </div>  
</div>
       


    foreach (var tab in Model.Tabs)
    {

    }
}
 <button id="download-button" title="Download">Download</button>
