@model SitecoreDiser.Feature.ContentReport.Models.ContentReportModel

@if(Model != null)
{
    foreach(var tab in Model.Tabs)
    {

    }
}
 <button id="download-button" title="Download">Download</button>
<script src="~/Content/Scripts/ContentReport.js"></script>