.display-flex {
    display: flex;
}

.center {
    margin: auto;
    width: 70%;
    padding: 12px;
}

.w-50-pr {
    width: 50% !important;
}

.cr-nav-bar {
    margin-top: 15px;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    -webkit-box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
}

    .cr-nav-bar label {
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
    }

.bg-light {
    background-color: #f2f3f4 !important;
}

.cr-container {
    border: 2px solid #f2f3f4;
}

.cr-tab {
    min-height: 300px;
    border: 2px solid #f2f3f4;
    margin-bottom: 15px;
}