<!--
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="Helix.Base">
                    <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>

                        <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
                            <exclude children="true" />
                        </include>
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>