<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <!-- Defines search index to use -->            
            <setting name="SitecoreContentIndex" value="sitecore_master_index"/>
            <setting name="HomeItemId" value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}"/>
            <setting name="WorkflowItemId" value="fca998c50cc34f9194d80a4e6caece88"/>           
        </settings>
        <pipelines>
            <initialize>
                <processor type="SitecoreDiser.Feature.ContentReport.Pipelines.RegisterWebApiRoutes, SitecoreDiser.Feature.ContentReport" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>